.footnote-button {
  position: relative;
  z-index: 5;
  top: -0.15em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.34em;
  margin: 0 0.1em 0 0.2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  opacity: 0.3;
  background-color: #464646;
  line-height: 0;
  vertical-align: middle;
  text-decoration: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.footnote-button:hover {
  opacity: 0.6;
}

.footnote-button:active {
  opacity: 0.6;
}

.footnote-button.active {
  opacity: 0.9;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.footnote-circle {
  display: inline-block;
  width: 0.32em;
  height: 0.32em;
  margin-right: 0.224em;
  border-radius: 100%;
  background-color: #e6e6e6;
  border: none;
  line-height: 0.5em;
}

.footnote-circle:last-child {
  margin-right: 0;
}

.footnote-content {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: block;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  background: #fafafa;
  opacity: 0.9;
  border-radius: 0;
  border: 1px solid #c3c3c3;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.footnote-content.active {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0.97;
}

.footnote-content.bottom {
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.footnote-content.top {
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}

.footnote-content ::-webkit-scrollbar {
  display: none;
}

.footnote-main-wrapper {
  position: relative;
  z-index: 14;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  max-width: 30em;
  background-color: #fafafa;
  border-radius: 0;
}

.footnote-content-wrapper {
  position: relative;
  z-index: 8;
  max-height: 15em;
  padding: 1.1em 5% 1.2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  border-radius: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}

.footnote-content-wrapper img {
  max-width: 100%;
}

.footnote-content-wrapper *:last-child {
  margin-bottom: 0;
}

.footnote-content-wrapper *:first-child {
  margin-top: 0;
}

.tooltip {
  display: none;
}

@media not print {
  .footnote-print-only {
    display: none;
  }
}

@media print {
  .footnote-button {
    display: none;
  }
}