.footnote-button {
  position: relative;
  z-index: 5;
  top: -0.3em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  padding: 0.3em;
  margin: 0 0.1em 0 0.2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  opacity: 1;
  background-color: #567271;
  line-height: 0;
  vertical-align: middle;
  text-decoration: none;
  -webkit-transition: opacity;
  -moz-transition: opacity;
  -ms-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.footnote-button:hover {
  opacity: 1;
}
.footnote-button:active {
  opacity: 1;
}
.footnote-button.active {
  opacity: 1;
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.footnote-button:active, .footnote-button.active {
  top: -0.05em;
}
.footnote-button:active:after, .footnote-button.active:after {
  top: 0.1em;
}
.footnote-button:before, .footnote-button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 0.3em;
  background-color: #567271;
}
.footnote-button:after {
  top: 0.35em;
  z-index: 7;
  background-color: #73bd4f;
}

.footnote-circle {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: 0.3em;
  height: 0.3em;
  margin-right: 0.21em;
  border-radius: 100%;
  background-color: white;
  border: none;
  line-height: 0.5em;
}
.footnote-circle:last-child {
  margin-right: 0;
}

@media not print {
  .footnote-print-only {
    display: none !important;
  }
}
@media print {
  .footnote-button {
    display: none !important;
  }
}
.footnote-content {
  position: fixed;
  z-index: 10;
  bottom: auto;
  left: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 90%;
  margin: 1.21924em auto;
  display: inline-block;
  -webkit-transform: scale(0.1) translateZ(0);
  -moz-transform: scale(0.1) translateZ(0);
  -ms-transform: scale(0.1) translateZ(0);
  -o-transform: scale(0.1) translateZ(0);
  transform: scale(0.1) translateZ(0);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  background: #fdfdfd;
  opacity: 0;
  border-radius: 0.5em;
  border: 2px solid #567271;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity, -webkit-transform;
  -moz-transition: opacity, -moz-transform;
  -ms-transition: opacity, -ms-transform;
  transition: opacity, transform;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.footnote-content.active {
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  -ms-transform: scale(1) translateZ(0);
  -o-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  opacity: 0.97;
}
.footnote-content.bottom {
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
.footnote-content.top {
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom;
}
.footnote-content ::-webkit-scrollbar {
  display: none;
}

.footnote-main-wrapper {
  position: relative;
  z-index: 14;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  max-width: 22em;
  background-color: #fdfdfd;
  border-radius: 0.5em;
  -webkit-transition: max-height;
  -moz-transition: max-height;
  -ms-transition: max-height;
  transition: max-height;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.footnote-content-wrapper {
  position: relative;
  z-index: 8;
  max-height: 15em;
  padding: 1.1em 1.3em 1.2em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fdfdfd;
  border-radius: 0.5em;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: Avenir, 'Segoe UI', 'Lucida Grande', Lucida, Verdana, sans-serif;
}
.footnote-content-wrapper h1, .footnote-content-wrapper h2, .footnote-content-wrapper h3, .footnote-content-wrapper h4, .footnote-content-wrapper h5, .footnote-content-wrapper h6 {
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-weight: normal;
}
.footnote-content-wrapper img {
  max-width: 100%;
}
.footnote-content-wrapper *:last-child {
  margin-bottom: 0;
}
.footnote-content-wrapper *:first-child {
  margin-top: 0;
}

.tooltip {
  position: absolute;
  z-index: 12;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-left: -0.65em;
  width: 1.3em;
  height: 1.3em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fdfdfd;
  border: 2px solid #567271;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 0;
}

.bottom .tooltip {
  top: -0.65em;
  bottom: auto;
}

.top .tooltip {
  bottom: -0.65em;
  top: auto;
}
