//   _______   ______   _________  _________  ______   ___ __ __
// /_______/\ /_____/\ /________/\/________/\/_____/\ /__//_//_/\
// \::: _  \ \\:::_ \ \\__.::.__\/\__.::.__\/\:::_ \ \\::\| \| \ \
//  \::(_)  \/_\:\ \ \ \  \::\ \     \::\ \   \:\ \ \ \\:.      \ \
//   \::  _  \ \\:\ \ \ \  \::\ \     \::\ \   \:\ \ \ \\:.\-/\  \ \
//    \::(_)  \ \\:\_\ \ \  \::\ \     \::\ \   \:\_\ \ \\. \  \  \ \
//     \_______\/ \_____\/   \__\/      \__\/    \_____\/ \__\/ \__\/
//         ____________________________________________________________
//        /___________________________________________________________/\
//        \___________________________________________________________\/
//
// Bottom style for the popover: light gray background, dark gray border, box-shadow,
// and positioned at the bottom of the screen (slides up when activated)



//  ___   ___   ______   __  __     __   __   ________   ______    ______
// /___/\/__/\ /_____/\ /_/\/_/\   /_/\ /_/\ /_______/\ /_____/\  /_____/\
// \::.\ \\ \ \\::::_\/_\ \ \ \ \  \:\ \\ \ \\::: _  \ \\:::_ \ \ \::::_\/_
//  \:: \/_) \ \\:\/___/\\:\_\ \ \  \:\ \\ \ \\::(_)  \ \\:(_) ) )_\:\/___/\
//   \:. __  ( ( \::___\/_\::::_\/   \:\_/.:\ \\:: __  \ \\: __ `\ \\_::._\:\
//    \: \ )  \ \ \:\____/\ \::\ \    \ ..::/ / \:.\ \  \ \\ \ `\ \ \ /____\:\
//     \__\/\__\/  \_____\/  \__\/     \___/_(   \__\/\__\/ \_\/ \_\/ \_____\/
//
// These are the key variables for styling the popover.
// Just set the variable to none if you don't want that styling.

// STYLES
$popover-width:                         100%;                           // Ideal width of the popover
$popover-max-width:                     30em;                           // Best as a % to accommodate smaller viewports
$popover-max-height:                    15em;                           // Maximum size of the content area
$popover-color-background:              rgb(250, 250, 250);             // Color of the popover background
$popover-border-radius:                 0;                              // Radius of the corners of the popover
$popover-border:                        1px solid rgb(195, 195, 195);   // Border of the popover/ tooltip
$popover-inactive-opacity:              0.9;                            // Opacity of the popover when instantiated/ deactivating
$popover-active-opacity:                0.97;                           // Opacity of the popover when active
$popover-box-shadow:                    0px 0px 8px rgba(0, 0, 0, 0.3); // Sets the box shadow under the popover/ tooltip
$popover-display-style:                 block;                          // Determines the display style of the main popover
$popover-bottom-position:               0;                              // Sets the bottom position of the popover. Use only when setting positionPopover to false in the script
$popover-left-position:                 0;                              // Sets the left position of the popover. Use only when setting positionPopover to false in the script
$popover-tooltip-size:                  0;                              // Sets the side lengths of the tooltip
$popover-scroll-indicator-color:        rgba(black, 0.08);              // The color of the scroll indicator
$popover-scroll-indicator-size:         2em;                            // The font size of the scroll indicator ellipsis
$popover-initial-transform-state:       translateY(100%);               // The inital transform state for the popover
$popover-active-transform-state:        translateY(0%);                 // The transform state for the popover once it is fully activated

// OPTIONAL ELEMENTS
$popover-include-tooltip:               false;                          // Adds a tooltip pointing to the footnote button
$popover-include-scroll-indicator:      false;                          // Adds an elipsis at the bottom of scrollable popovers
$popover-include-scrolly-fades:         false;                          // Fades content in on scrollable popovers
$popover-width-application-element:     popover;                        // content or the popover itself



//  ______   _________  ___   ___   ______   ______        __   __   ________   ______    ______
// /_____/\ /________/\/__/\ /__/\ /_____/\ /_____/\      /_/\ /_/\ /_______/\ /_____/\  /_____/\
// \:::_ \ \\__.::.__\/\::\ \\  \ \\::::_\/_\:::_ \ \     \:\ \\ \ \\::: _  \ \\:::_ \ \ \::::_\/_
//  \:\ \ \ \  \::\ \   \::\/_\ .\ \\:\/___/\\:(_) ) )_    \:\ \\ \ \\::(_)  \ \\:(_) ) )_\:\/___/\
//   \:\ \ \ \  \::\ \   \:: ___::\ \\::___\/_\: __ `\ \    \:\_/.:\ \\:: __  \ \\: __ `\ \\_::._\:\
//    \:\_\ \ \  \::\ \   \: \ \\::\ \\:\____/\\ \ `\ \ \    \ ..::/ / \:.\ \  \ \\ \ `\ \ \ /____\:\
//     \_____\/   \__\/    \__\/ \::\/ \_____\/ \_\/ \_\/     \___/_(   \__\/\__\/ \_\/ \_\/ \_____\/
//

// POPOVER
$button-height:                         0; // Helps setting vertical position of popover
$popover-margin-top:                    0;
$popover-padding-content-horizontal:    5%;
$popover-padding-content-top:           1.1em;
$popover-padding-content-bottom:        1.2em;
$popover-z-index:                       10; // Set the base so that it's above the other body children
$popover-initial-transform-origin:      50% 0;

// POPOVER CONTENT WRAPPER
$popover-content-color-background:      $popover-color-background;
$popover-content-border-radius:         $popover-border-radius;

// OTHER POPOVER ELEMENTS
$popover-tooltip-background:                    $popover-color-background;
$popover-tooltip-radius:                        0.2em;
$popover-scroll-indicator-bottom-position:      0.47em;
$popover-scrolly-fade-gradient-start-location:  50%;
$popover-scroll-indicator-width:                1.5em;

// TRANSITIONS
$popover-transition-default-duration:           0.25s;

// Use none for areas you don't want to transition
$popover-transition:                            transform; // no mixin to do proper prefixing of the transform, so I have to do it manually; see mixin below
$popover-main-wrapper-transition:               none;
$popover-scroll-indicator-transition:           none;
$popover-scroll-up-transition-delay:            0.4s; // Sets the delay for the transition of the scroll indicator when scrolling upwards



//  ______   ______   ______   ______   __   __   ______   ______
// /_____/\ /_____/\ /_____/\ /_____/\ /_/\ /_/\ /_____/\ /_____/\
// \:::_ \ \\:::_ \ \\:::_ \ \\:::_ \ \\:\ \\ \ \\::::_\/_\:::_ \ \
//  \:(_) \ \\:\ \ \ \\:(_) \ \\:\ \ \ \\:\ \\ \ \\:\/___/\\:(_) ) )_
//   \: ___\/ \:\ \ \ \\: ___\/ \:\ \ \ \\:\_/.:\ \\::___\/_\: __ `\ \
//    \ \ \    \:\_\ \ \\ \ \    \:\_\ \ \\ ..::/ / \:\____/\\ \ `\ \ \
//     \_\/     \_____\/ \_\/     \_____\/ \___/_(   \_____\/ \_\/ \_\/
//
// These styles apply to the footnote popovers as soon as they are created
// Wrapper will initially not have the active class applied to them so you have time to apply a property that can then be transitioned.
// The active class is also taken off slightly before the footnote is removed, giving you time to transition out as well
// You also get a class of scrollable if the content is larger than the height
// Set the width, max-width, opacity, border-radius, top/bottom margin, and box-shadow here
.footnote-content {

    // POSITIONING
    position: fixed;
    z-index: $popover-z-index;
    bottom: $popover-bottom-position;
    left: $popover-left-position;

    // DISPLAY AND SIZING
    box-sizing: border-box;
    -moz-box-sizing: border-box;;
    // Height is set in .footnote-content-wrapper
    @if $popover-width-application-element == popover {
        width: $popover-width;
        } @else {
            max-width: $popover-max-width;
        }
    // 1.414213... is to get the diagonal height of the tooltip using pythagorus, yo.
    margin: ((1.4142135624 * $popover-tooltip-size / 2) + $button-height / 2 + $popover-margin-top) auto;
    display: $popover-display-style;
    @if $popover-initial-transform-state != none {
        @include transform($popover-initial-transform-state);
        @include transform-origin($popover-initial-transform-origin);
    }

    // BACKDROP
    background: $popover-color-background;
    opacity: $popover-inactive-opacity;
    border-radius: $popover-border-radius;
    border: $popover-border;
    box-shadow: $popover-box-shadow;

    // TRANSITIONS AND ANIMATIONS
    @if $popover-transition != none {
        @include transition-property($popover-transition);
        @include transition-duration($popover-transition-default-duration);
    }

    // Put styles here to apply when the popover is active (can be transitioned in/ out of from the CSS properties above)
    &.active {
        @if $popover-active-transform-state != none { @include transform($popover-active-transform-state); }
        opacity: $popover-active-opacity;
    }

    // Put styles to apply when the popover is being hovered over
    &:hover {

    }

    // Put styles to apply when the popover is positioning on the bottom of the footnote button
    &.bottom {
        @include transform-origin(top);
    }

    // Put styles to apply when the popover is positioning on the top of the footnote button
    &.top {
        @include transform-origin(bottom);
    }

    // Put styles to apply when the popover scroll height is greater than its content max-height
    &.scrollable {

        @if $popover-include-scroll-indicator == true {

            &:after {

                // CONTENT
                content: '...';

                // POSITIONING
                position: fixed;
                bottom: $popover-scroll-indicator-bottom-position;
                right: 50%;
                z-index: 20;

                // DISPLAY AND SIZING
                width: $popover-scroll-indicator-width;
                margin-right: -0.5 * $popover-scroll-indicator-width; // Centers the indicator

                // BACKDROP
                opacity: 1;
                background-color: $popover-color-background;

                // TEXT
                font-family: Georgia; // Use Georgia as the periods are round
                font-weight: bold;
                font-size: $popover-scroll-indicator-size;
                text-align: center;
                color: $popover-scroll-indicator-color;
                line-height: 0;

                // TRANSITIONS AND ANIMATIONS
                @if $popover-scroll-indicator-transition != none {
                    @include transition-property($popover-scroll-indicator-transition);
                    @include transition-duration($popover-transition-default-duration);
                    @include transition-delay($popover-scroll-up-transition-delay);
                }

            }

        }

        // This applies when a scrollable popover has been scrolled to the bottom
        &.fully-scrolled:after {

            @if $popover-include-scroll-indicator == true {
                opacity: 0;
                @if $popover-scroll-indicator-transition != none {
                    @include transition-delay(0s); // no delay when you've reached the bottom
                }
            }

        }

        // These create the fades at the top/ bottom of the popover scroll area. Don't change unless you know what you're doing
        @if $popover-include-scrolly-fades == true {

            .footnote-main-wrapper:before, .footnote-main-wrapper:after {
                content: ' ';
                position: absolute;
                width: 100%;
                z-index: $popover-z-index + 2; // Above the content
            }

            .footnote-main-wrapper:before {
                top: -1px;
                left: 0;
                height: $popover-padding-content-top;
                border-radius: $popover-border-radius $popover-border-radius 0 0;
                @include gradient(bottom, $popover-color-background, $popover-scrolly-fade-gradient-start-location, transparentize($popover-color-background, 1));
            }

            .footnote-main-wrapper:after {
                bottom: -1px;
                left: 0;
                height: $popover-padding-content-bottom;
                border-radius: 0 0 ($popover-border-radius) ($popover-border-radius);
                @include gradient(top, $popover-color-background, $popover-scrolly-fade-gradient-start-location, transparentize($popover-color-background, 1));
            }

        } // end of scrolly-fades styling

    } // end of .scrollable styling

    ::-webkit-scrollbar { display: none; }

} // end of .footnote-content styling



//  ___ __ __   ________    ________  ___   __        __ __ __   ______    ________   ______
// /__//_//_/\ /_______/\  /_______/\/__/\ /__/\     /_//_//_/\ /_____/\  /_______/\ /_____/\
// \::\| \| \ \\::: _  \ \ \__.::._\/\::\_\\  \ \    \:\\:\\:\ \\:::_ \ \ \::: _  \ \\:::_ \ \
//  \:.      \ \\::(_)  \ \   \::\ \  \:. `-\  \ \    \:\\:\\:\ \\:(_) ) )_\::(_)  \ \\:(_) \ \
//   \:.\-/\  \ \\:: __  \ \  _\::\ \__\:. _    \ \    \:\\:\\:\ \\: __ `\ \\:: __  \ \\: ___\/
//    \. \  \  \ \\:.\ \  \ \/__\::\__/\\. \`-\  \ \    \:\\:\\:\ \\ \ `\ \ \\:.\ \  \ \\ \ \
//     \__\/ \__\/ \__\/\__\/\________\/ \__\/ \__\/     \_______\/ \_\/ \_\/ \__\/\__\/ \_\/
//
// These styles apply to the footnote except for the tooltip (to allow the tooltip to be below the content)
// The max-height will be set by JavaScript here in order to prevent the popover from flowing off the screen
// Set border, border-radius, and background-color here
.footnote-main-wrapper {

    // POSITIONING
    position: relative;
    z-index: $popover-z-index + 4; // Above the outer tooltip, below the inner tooltip

    // DISPLAY AND SIZING
    box-sizing: border-box;
    -moz-box-sizing: border-box;;
    overflow: hidden;
    margin: 0 auto;
    @if $popover-width-application-element == content {
        max-width: $popover-width;
        } @else {
            max-width: $popover-max-width;
        }

    // BACKDROP
    background-color: $popover-color-background;
    border-radius: $popover-border-radius;
    @if $popover-main-wrapper-transition != none {
        @include transition-property($popover-main-wrapper-transition);
        @include transition-duration($popover-transition-default-duration);
    }

} // end of .footnote-main-wrapper styling



//  ______   ______   ___   __    _________  ______   ___   __    _________   __ __ __   ______    ________   ______
// /_____/\ /_____/\ /__/\ /__/\ /________/\/_____/\ /__/\ /__/\ /________/\ /_//_//_/\ /_____/\  /_______/\ /_____/\
// \:::__\/ \:::_ \ \\::\_\\  \ \\__.::.__\/\::::_\/_\::\_\\  \ \\__.::.__\/ \:\\:\\:\ \\:::_ \ \ \::: _  \ \\:::_ \ \
//  \:\ \  __\:\ \ \ \\:. `-\  \ \  \::\ \   \:\/___/\\:. `-\  \ \  \::\ \    \:\\:\\:\ \\:(_) ) )_\::(_)  \ \\:(_) \ \
//   \:\ \/_/\\:\ \ \ \\:. _    \ \  \::\ \   \::___\/_\:. _    \ \  \::\ \    \:\\:\\:\ \\: __ `\ \\:: __  \ \\: ___\/
//    \:\_\ \ \\:\_\ \ \\. \`-\  \ \  \::\ \   \:\____/\\. \`-\  \ \  \::\ \    \:\\:\\:\ \\ \ `\ \ \\:.\ \  \ \\ \ \
//     \_____\/ \_____\/ \__\/ \__\/   \__\/    \_____\/ \__\/ \__\/   \__\/     \_______\/ \_\/ \_\/ \__\/\__\/ \_\/
//
// These apply to the actual content area of the popover (scroll).
// You also set the max-height here
.footnote-content-wrapper {

    // POSITIONING
    position: relative;
    z-index: $popover-z-index - 2; // Below fading bars

    // DISPLAY AND SIZING
    max-height: $popover-max-height;
    padding: $popover-padding-content-top $popover-padding-content-horizontal $popover-padding-content-bottom;
    box-sizing: border-box;
    -moz-box-sizing: border-box;;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    // BACKDROP
    background: $popover-content-color-background;
    border-radius: $popover-content-border-radius;

    // TEXT
    -webkit-font-smoothing: subpixel-antialiased;

    // INTERIOR ELEMENTS
    img { max-width: 100%; }
    *:last-child { margin-bottom: 0; }
    *:first-child { margin-top: 0; }

} // end of .footnote-content-wrapper styling



//  _________  ______   ______   __     _________  ________  ______
// /________/\/_____/\ /_____/\ /_/\   /________/\/_______/\/_____/\
// \__.::.__\/\:::_ \ \\:::_ \ \\:\ \  \__.::.__\/\__.::._\/\:::_ \ \
//    \::\ \   \:\ \ \ \\:\ \ \ \\:\ \    \::\ \     \::\ \  \:(_) \ \
//     \::\ \   \:\ \ \ \\:\ \ \ \\:\ \____\::\ \    _\::\ \__\: ___\/
//      \::\ \   \:\_\ \ \\:\_\ \ \\:\/___/\\::\ \  /__\::\__/\\ \ \
//       \__\/    \_____\/ \_____\/ \_____\/ \__\/  \________\/ \_\/
//
// These create the tooltip. The horizontal positioning of the tooltip is set by the script itself
@if $popover-include-tooltip == true {

    .tooltip {

        // POSITIONING
        position: absolute;
        z-index: $popover-z-index + 2; // Above the footnote-main-wrapper and the outer tooltip

        // DISPLAY AND SIZING
        box-sizing: border-box;
        -moz-box-sizing: border-box;;
        margin-left: -0.5 * ($popover-tooltip-size);
        width: $popover-tooltip-size; // Smaller by one border-width's worth
        height: $popover-tooltip-size;
        @include transform(rotate(45deg));

        // BACKDROP
        background: $popover-tooltip-background;
        border: $popover-border;
        box-shadow: $popover-box-shadow;
        border-top-left-radius: $popover-tooltip-radius;

    }

    // Mandatory vertical-positioning stuff for the tooltip
    .bottom .tooltip {
        top: -0.5 * $popover-tooltip-size;
        bottom: auto;
    }

    .top .tooltip {
        bottom: -0.5 * $popover-tooltip-size;
        top: auto;
    }

    } @else {

        .tooltip { display: none; }

} // end of the tooltip styling